<!DOCTYPE html>
<html>
<body>

<h1>Appointment Booking</h1>
<h2>DASHBOARD</h2>
    <a href='http://127.0.0.1:5000/history'target="_blank">1.History</a>
    <br>
    <a href='http://127.0.0.1:5000/discarded_appointment' target="_blank">2.Discarded Appointment</a>
    <br>
    <a href='http://127.0.0.1:5000/current_appointment' target="_blank">3.Current Appointment</a>
    <br>
    <a href='http://127.0.0.1:5000/times_slots' target="_blank">5.Time Slots</a>
    <br>
    <a href='http://127.0.0.1:5000/slots_completed_field' target="_blank">5.Slots Completed Field</a>
    
</body>
</html>